/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root{
    --black: #0D0D0D;
    --white: #F2F2F2;
    --teal: #7ABFBF;
    --lt-teal: rgba(122, 191, 191, .5);
    --orange: #EB5428;
    --main-font: 'Montserrat', Helvetica, sans-serif;
    --heading-font: 'Bebas Neue', Arial, sans-serif;

}

/* --------------------GLOBAL STYLES (mobile first/small - 414px) --------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 414px) {
    /* ---- body layout ------*/
    body {
        display: grid;
        grid-template-areas: 
            "nav"
            "main"
            "footer";
        grid-template-columns: 1fr;
        background-color: var(--lt-teal);
        line-height: 1.5;
    }
    #main-article {
        grid-area: main;
        min-width: 414px;
        max-width: 500px;
        background-color: var(--white);
        margin: 0 auto;
    }
    #main-nav {
        grid-area: nav;
    }
    #main-footer {
        grid-area: footer;
    }
    /* ---- navigation menu ------*/
    
    nav {
        grid-area: nav;
        min-width: 414px;
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #bbb;
        position: fixed;
        top: 0;
        z-index:5;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 10px;
    }
    nav ul {
        grid-area: hamberger;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
    }
    nav li img {
        display: none;
    }
    nav li a {
        display: block;
        padding: 20px;
        text-decoration: none;
    }
    nav label {
        cursor: pointer;
        display: inline-block;
        user-select: none;
        position: relative;
        bottom: 5px;
        left: 30px;
    }
    nav span {
        display: block;
        position: relative;
    }
    nav label svg {
        display: block;
    }
    label span:before, label span:after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    nav input {
        display: none;
    }
    nav input:checked ~ ul {
        max-height: 550px;
    }
    nav h2 {
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    /* ----search bar------*/
    form {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 75px 0 0 20px;
        max-width: 500px;
        background-color: var(--white);
        margin-top: 40px;
    }
    #site-search{
        padding: 10px;
        border: 1px inset var(--orange);
        width: 70%;
        margin: 0;
    }
    form svg{
        background-color: var(--orange);
        cursor: pointer;
        margin: 0;
        border: 3px solid var(--orange);
    }
    label{
        margin: 0 0 4px 8px;
    }
    input, select, textarea{
        padding: 10px;
        margin-bottom: 24px;
       
    }
        /* ---- main tags ------*/
    #main-header {
        margin: 0 auto;
        padding: 20px 0;
    }
    h1 {
        font-family: var(--heading-font);
        font-size: 40px;
    }
    article h1{
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px;
    }
    #main-header ul {
        list-style-type: none; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    #main-header ul li{
        margin-right: 15px; 
        cursor: pointer;
    }
    #main-header ul li figure{
        display: inline-block;
        text-align: center;
    }
    #main-header ul li svg {
        display: block;
        margin: 0 auto;
        
    }
    #main-header ul li figcaption {
        margin-top: 5px;
        font-family: var(--heading-font);
        font-size: 20px;
        color: var(--orange);
        text-transform: uppercase;
        
        
    }
    img{
        width: 100%;
    }
    p, dd, li, nav, input{
        font-size: 16px;
        font-family: var(--main-font);
    }
    nav a, nav span, menu li, footer{
        font-family: var(--heading-font);
        font-size: 20px;
    }
    dt{
        font-family: var(--main-font);
        font-weight: bold;
        font-size: 16px;
    }
    #intro-section p, #details-section, #ingredients-aside, #directions-section, #side-dishes-aside {
        margin: 0 auto;
        padding: 5px;
    }

    h2 {
        font-family: var(--heading-font);
        font-size: 30px;
        text-align: center;
    }
    #details-section dl {
        display: block;
    }
    #details-section dt, #details-section dd {
        display: inline;
        margin: 0;
        padding: 0 10px;
    }
    #details-section dt + dd{
        display: inline;
    }
    #details-section dl > div {
        display: flex;
    }
    #ingredients-aside ul {
        list-style-type: square;
        padding-left: 20px;
    }
    #directions-section ol {
        list-style-type: decimal;
        padding-left: 20px;
    }
    #directions-section li {
        margin-bottom: 5px;
    }
    #side-dishes-aside {
        background-color: var(--teal);
        margin-bottom: 10px;
    }
    #side-dishes-aside h3{
        font-family: var(--heading-font);
        font-size: 25px;
        text-transform: uppercase;
    }
    #side-dishes-aside figure {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    #side-dishes-aside img {
        float: left;
        width: 100px;
        height: auto;
        margin-right: 15px;
    }
    #side-dishes-aside figcaption {
        flex: 1;
    }
    /* ---- footer tags ------*/
    #main-footer h2, #main-footer h3{
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    #main-footer {
        background-color: var(--white);
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    #main-footer div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px;
    }
    #main-footer img {
        width: 225px;
        margin-bottom: 20px;
        order: 2;
    }
    #main-footer p {
        font-family: var(--heading-font);
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        order: 3;
    }
}
/*-------------------- MEDIA QUERY (medium - 768px) --------------------------------*/
@media screen and (min-width: 768px) {
      /* ---- body layout ------*/
      body {
        display: grid;
        grid-template-areas: 
            "nav"
            "main"
            "footer";
        grid-template-columns: 1fr;
        background-color: var(--lt-teal);
        line-height: 1.5;
    }
    #main-article {
        grid-area: main;
        min-width: 414px;
        max-width: 500px;
        background-color: var(--white);
        margin: 0 auto;
    }
    #main-footer {
        grid-area: footer;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f8f8f8;
        position: relative; 
        width: 100%;
    }
    
    #main-nav {
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        position: relative;
    }
    
    #logo {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    
    #sign-in {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0; 
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%); 
    }
    
    #site-search {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        width: 250px;
        height: 40px;
        margin: 0;
    }
    
    form svg {
        background-color: #EB5428;
        padding: 10px;
        border-radius: 0 5px 5px 0;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 80px 0 0 0; 
        width: 100%;
    }
    
    ul li {
        margin: 0 10px; 
    }
    
    ul img {
        width: 60px; 
        height: auto;
    }
    
    #main-nav {
        flex-direction: column;
        align-items: center;
    }
} 
/*-------------------- MEDIA QUERY (large - 1280px) ------------------------------------*/